.App {
  display: flex;
  flex-flow: column wrap;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.instructions, .congrats, .game-over{
  display: relative;
  padding: 1vh 0 2vh 0;
  align-self: center;
  align-content: center;
  text-align: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  text-justify: center;

  color: #FFF;
}