.g-letter {
    display: flex;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    max-width: 7vh;
    max-height: 7vh;
    color: #FFF;
    border: 2px solid #272729;
    margin: 2px;

}

.g-letter[data-result = "miss"] {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

.g-letter[data-result = "close"] {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

.g-letter[data-result = "perfect"] {
    background-color: #538d4e;
    border-color: #538d4e;
}

@media only screen and (max-width: 600px) {
    .g-letter {
        font-size: medium;
        width: 7vh;
        height: 7vh;
    
    }

}