.not-a-word{
    position: fixed;
    display: inline-block;
    top: 10%;
    left: 43%;
    color: #FFF;
    align-items: center;
    text-align: center;
    background-color: #818384;
    width: 200px;
    height: 50px;
    border-radius: 4%;
    z-index: 1;
}

.not-a-word[data-display = false] {
    display: none;
}