.oskb{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height:200px;
    width:300px;
    border: 3px dotted #FFF;
    color:#FFF;
    margin: 0 auto;
    margin-top: 40px;
}