.osk{
    align-content: center;
    margin: 3px;
    background-color: #818384;
    height: 60px;
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 4%;
}

button[data-type="letter"]{
    width: 35px;
}

button[data-result="miss"]{
    background-color: #3a3a3c;
}

button[data-result="close"]{
    background-color: #b59f3b;
}

button[data-result="perfect"]{
    background-color: #538d4e;
}

button[data-type="action"]{
    font-size: 15px;
    width: 60px;
}


@media only screen and (max-width: 430px) {
    .osk{
        margin: .4vh .6vw;
        height: 6vh;
        font-size: medium;
        border-radius: 4%;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
    
    button[data-type="letter"]{
        width: 7.4vw;
    }

    button[data-type="action"]{
        font-size: x-small;
        width: 12vw;
    }
}