.osk{
    align-content: center;
    margin: 3px;
    background-color: #818384;
    height: 60px;
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 4%;
}

button[data-type="letter"]{
    width: 35px;
}

button[data-result="miss"]{
    background-color: #3a3a3c;
}

button[data-result="close"]{
    background-color: #b59f3b;
}

button[data-result="perfect"]{
    background-color: #538d4e;
}

button[data-type="action"]{
    font-size: 15px;
    width: 60px;
}