.osk{
    display: flex;
    margin: 3px;
    background-color: #818384;
    height: 60px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    font-style: bold;
    border-radius: 4%;
}

button[data-type="letter"]{
    width: 35px;
}

button[data-type="letter"]{
    width: 70px;
}