.title{
    display:flex;
    flex-direction: column;
    color:#FFF;
    padding-bottom: 50px;
    text-align: center;
}

#player-heading{
    padding:0%;
    margin: 0%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

#twordle-heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#twordle-heading .g-letter{
    height: 40px;
    width: 40px;
    font-size: 15px;
}